<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAI4OPkhL5ooFGh6_Vmzl7ZGuQyATNJGt8</string>
	<key>GCM_SENDER_ID</key>
	<string>705989201613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FarmNETS.farmnets</string>
	<key>PROJECT_ID</key>
	<string>farmnets-2</string>
	<key>STORAGE_BUCKET</key>
	<string>farmnets-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705989201613:ios:41fed0e844e80f75136384</string>
</dict>
</plist>